[Unit]
Description=uWSGI instance to serve Vetala Store Backend
After=network.target

[Service]
User=<username>
Group=www-data
WorkingDirectory=<path to>
ExecStart=/usr/bin/uwsgi --ini <path to>/store.ini

[Install]
WantedBy=multi-user.target
