{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Editing Account for {{ username }}</h3>
    <div class="box">
        {{ error }}
        <form method="POST" action="/edit_account">
            
  			<div class="field">
                <div class="control">
  					<input class="input is-large" type="password" id="password" name="password" placeholder="New Password">
  				</div>
            </div>
            
  			<div class="field">
                <div class="control">
  					<input class="input is-large" type="password" id="password_check" name="password_check" placeholder="Confirm New Password">
  				</div>
            </div>
            
        	<div class="field">
                <div class="control">
        			<!-- PLACE PARSED IN DATA HERE -->
            		<!-- ### -->
            		<!-- END PARSED IN DATA -->
        		</div>
            </div>
            
        	<div class="field">
                <div class="control">
  					<label for="hash_number">Number of times to hash (Max 5000, Min 25):</label>
  					<input class="input is-large" type="number" id="hash_number" name="hash_number" min="25" max="5000" step="1" value={{ hash_number }} required>
  				</div>
            </div>
            
  			<div class="field">
                <div class="control">
        			<button class="button is-block is-info is-large is-fullwidth">Add Account</button>
        		</div>
            </div>
            
        </form>
    </div>
</div>
{% endblock %}
