{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Remove Account</h3>
    <div class="box">
    	{{ error }}
        <form method="POST" action="/remove_account">
            <!-- PLACE PARSED IN DATA HERE -->
            <!-- ### -->
            <!-- END PARSED IN DATA -->
            </br>
            <button class="button is-block is-info is-large is-fullwidth" name="remove_games">Remove Account</button>
        </form>
    </div>
</div>
{% endblock %}
